<html>
    <head>
        <title>Reminder Auth</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
        <script src="assets/app.js"></script>
    </head>
    <body ng-app="minderApp" ng-controller="Main as main">
    <h1>Get the Auth Out</h1>{{main.welcome}}<br>

    <input type="text" ng-model="main.email" placeholder="username"><br>
    <input type="password" ng-model="main.password" placeholder="password"><br>
    <br>

    <button ng-click="main.register()">Register</button>
    <button ng-click="main.login()">Login</button>

    <hr>

    <div>
        <form>
            <input type="text"
                   ng-model="main.minder.description"
                   placeholder="description">
            <input type="submit"
                   ng-click="main.postMinder()"
                   value="Add Reminder"> 
        </form>
    </div>

    <hr>

    <div>
        {{ main.results | json }}
    </div>

</html>