.minder-bubble {
	background-color: #D4D2D2;
	border-radius: 25px;
	margin: 10px;
	padding: 10px;
}

.minder-bubble.initial.ng-enter {
	transition: 0.5s linear all;
  	opacity: 0;
  	transform: translateX(200px);
}

.minder-bubble.initial.ng-enter-stagger {
	transition-delay: 0.25s;
	transition-duration: 0s;
}

.minder-bubble.initial.ng-enter.ng-enter-active {
	transform: translateX(0);
	opacity: 1.0;
}

.minder-bubble.last.ng-enter {
	transition: 1.5s linear all;
  	background-color: #29FFD7;
}

.minder-bubble.last.ng-enter.ng-enter-active {
	background-color: #D4D2D2;
}
